schema/userXML.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="userXML" type="userXMLType"/>
  <xs:complexType name="userXMLType">
    <xs:sequence>
      <xs:element type="xs:string" name="CfgCVSBasePath" maxOccurs="1" minOccurs="0"/>
      <xs:element type="xs:string" name="grandmaster" maxOccurs="1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
